In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('test_data.csv')

In [ ]:
df.head()

           x1          x2     y
0  163.617464  4341510000  1.15
1  175.289575  4652390000  1.20
2  173.594549  4671060000  1.29
3  169.451697  4765490000  1.19
4  158.349901  5113640000  1.25

In [ ]:
x = df[['x1', 'x2']]
y = df['y']

x = np.array(x)
y = np.array(y)

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
model.predict([[130.838816, 9332660000]])

array([1.13868443])

In [ ]:
model.get_params()

{'copy_X': True, 'fit_intercept': True, 'n_jobs': None, 'normalize': False}

Find the Minimum X1 (Average Grant) to have a postive 0.5% increase in Fertility Rate

In [ ]:
val = 0 #Fertility Rate
target = 1.14 * 1.01 #Target Fertility Rate, Start @ 2019 (Fertility Rate = 1.4) * 0.5% Increase
x2_value_list = [9191310000, 10248170000, 10958080000, 11660560000, 12382280000, 12968520000] # Index 0 = 2020

In [ ]:
year = 2020
for i in range(len(x2_value_list)):
  x2_value = x2_value_list[i]
  x1_value = 0 # Average Grant Amount (Reset)
  while val <= target:
    val = model.predict([[x1_value, x2_value]])
    x1_value = x1_value + 0.01
    # Average Grant Amount, Increment of 1 cent

  print('%d : %.2f, %d - Fertility Rate = %f.4' % (year, x1_value, x2_value, val))
  year += 1
  target = target * 1.01

2020 : 307.64, 9191310000 - Fertility Rate = 1.151400.4
2021 : 811.78, 10248170000 - Fertility Rate = 1.162914.4
2022 : 1217.15, 10958080000 - Fertility Rate = 1.174543.4
2023 : 1622.35, 11660560000 - Fertility Rate = 1.186289.4
2024 : 2035.16, 12382280000 - Fertility Rate = 1.198152.4
2025 : 2410.65, 12968520000 - Fertility Rate = 1.210133.4